textarea {
  max-width: 100%;
}

#textarea-stats {
  > p {
    > span:first-child {
      display: block;

      font-size: small;
      font-weight: 900;
    }

    > span:last-child {
      font-size: large;
      font-weight: 200;
    }
  }
}
